<footer class="footer">
   <div class="footer__container">
      <section>
         <h2 class="footer__title">Sobre</h2>
         <p class="footer__about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim, ante vitae scelerisque imperdiet, lorem risus placerat augue, sit amet tincidunt sapien orci ac odio. In enim mi, semper nec nibh a, porta pharetra dolor. In tellus orci, congue eu cursus vel, tempus luctus diam. Nam eu accumsan ipsum. Quisque dictum, risus eu ultrices placerat, neque justo ultricies arcu, et sodales quam elit non ligula. Cras mattis lectus ut nulla lobortis dictum. Aenean quam urna, luctus nec turpis nec, congue dictum tellus. Proin non vestibulum dolor, sit amet condimentum nulla. Nam egestas ultricies magna at ultricies. Cras commodo aliquam metus.
         </p>
      </section>
      <address>
         <h2 class="footer__title">Contato</h2>
         <ul>
            <li><i class="fa-solid fa-envelope"></i>email@email.com.br</li>
            <li><i class="fa-solid fa-phone"></i>(38) 99970-7417</li>
            <li><i class="fa-brands fa-whatsapp"></i>(11) 99001-8606</li>
         </ul>
      </address>
   </div>
   <section class="footer__copyright">
      &copy; Todos os direitos reservados
   </section>
</footer>
